<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1.0">{% load static %}

        <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
        <script src="{% static "js/bootstrap.min.js" %}"></script>
        <script src="{% static "js/jquery.dataTables.min.js" %}"></script>
        <script src="{% static "js/dataTables.bootstrap.min.js" %}"></script>

        <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/bootstrap-theme.min.css" %}" rel="stylesheet">
        <link href="{% static "css/dataTables.bootstrap.min.css" %}" rel="stylesheet">
        <link href="{% static "css/jquery.dataTables.min.css" %}" rel="stylesheet">
        <link href=" {%static "css/font-awesome.min.css"%}" rel="stylesheet">
        <link href=" {%static "css/style.css"%}" rel="stylesheet">
        <title id="leo">Gerador SIP - Monografias</title>

    </head>

    <script type="text/javascript">
        function onSub(form){
            var data = JSON.stringify( $(form).serializeArray());

            console.log(data);
        }
    </script>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Gerador SIP</a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/newSIP">Gerar SIP</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <a href="/cadastro/"><button type="button" class="btn btn-info navbar-btn"><span class="glyphicon glyphicon-user"></span> Sign up</button></a>
                        <a href="/login/"><button class="btn btn-danger navbar-btn"><span class="glyphicon glyphicon-log-in"></span> Login</button></a>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container">
            <form>
                <div class="form-group row">
                    <label for="arq" class="col-md-1 col-form-label">File:</label>
                    <div class="col-md-9">
                        <input type="file" name="form-control" id="arq">
                    </div>         
                </div>
                <div class="form-group row">
                    <label for="contri" class="col-md-1 col-md-offset-3">Contributor:</label>
                    <div class="col-md-2">
                        <input type="text" name="form-control" id="contri">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="cover" class="col-md-1 col-md-offset-3">Coverage:</label>
                    <div class="col-md-2">
                        <input type="text" name="form-group" id="cover">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="creator" class="col-md-1 col-md-offset-3">Creator</label>
                    <div class="col-md-2">
                        <input type="text" name="form-group" id="creator">
                    </div>
                </div>
                <input type="button" name="submit" value="Submit">
            </form>
        </div>

        <div class="container">
            <div class="row">
            <div class="col-md-2 col-md-offset-5">
                <a href="/"><button type="button" class="btn btn-default btn-block navbar-btn">Voltar</button></a>
            </div>
        </div>
        </div>

        <div class="footer-cadastros">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-10">
                        <div class="footer-descricao">
                            Gestão Eletrônica de Documentos - Professor Daniel Flores
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="footer-contato">
                            Leonardo e Cássio
                        </div>
                    </div>
                </div>    
            </div>   
        </div>

    </body>
</html>